:host {
  padding: 10px 0;
  display: block;
}

.item {}

.date {
  font-weight: 500;
  font-size: 12px;
  line-height: 117%;
  color: #bdbdbd;
  display: inline-block;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .avatar-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1;

    .avatar {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      object-fit: cover;
    }

    .name {
      font-weight: 600;
      font-size: 12px;
      line-height: 117%;
      color: #101010;
    }
  }

  .countPerson {
    font-weight: 600;
    font-size: 12px;
    line-height: 117%;
    color: #101010;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .btns{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    flex: 1;
    justify-content: end;
  }
}

.speciality {
  flex: 1;

  &__body {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  span {
    font-size: 12px;
  }

  &__title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}

@media (max-width: 720px) {
  .content {
    flex-wrap: wrap;
    gap: 25px;
  }
}
