@if (comment(); as comment) {
  <div class="comment" [ngClass]="'level-' + comment.level">
    <div class="post-header">
      <div class="post-user" [routerLink]="['/', comment.author.nickname]">
        <div class="post-user__avatar">
          <img [src]="comment.author.imageLink | avatar" alt="avatar" />
        </div>
        <div class="post-user__name">
          <p>{{ comment.author.firstName}} {{comment.author.lastName }}</p>
          @if (comment.createdAt) {
            <span>{{ (comment.createdAt*1000) | date: 'dd.MM.yyyy hh:mm' }}</span>
          }
        </div>
      </div>
    </div>

    <div class="post-content">
      <div class="post-content__branch" [ngClass]="{'hidden-branch': !countComments}">
        <div class="branch-line"></div>
        <div class="branch-curve"></div>
      </div>
      <div class="post-content__comment">
        <div class="post-body">
          <markdown [data]="comment.text"></markdown>
        </div>

        <div class="post-footer">
          <div class="like" (click)="onCommentLike(comment.id)">
            <p>{{ comment.likesCount ?? 0 }}</p>
            <img src="/assets/icons/like.png" alt="like">
          </div>
          <div class="like dislike" (click)="onCommentDislike(comment.id)">
            <p>{{ comment.dislikesCount ?? 0 }}</p>
            <img src="/assets/icons/like.png" alt="dislike">
          </div>
          <div class="response" (click)="showResponseFormId = comment.id">
            <a>Ответить</a>
          </div>
        </div>

        @if (showResponseFormId === comment.id && currentUser()) {
          <div class="post-comment-form">
            <textarea rows="7" [(ngModel)]="commentForm" placeholder="Хотите ответить?"></textarea>
            <ui-button [type]="'green'" [size]="'large'" (click)="clickSubmit(comment.id, comment.level + 1)">Ответить</ui-button>
          </div>
        }

        @if (countComments) {
          <div class="post-open-branch">
            <div class="count" (click)="hideChildren = !hideChildren">
              @if (hideChildren) {
                <span class="circle">+</span>{{ countComments | i18nPlural: branchOpener }}
              } @else {
                <span class="circle">-</span>{{ countComments | i18nPlural: branchOpener }} | Скрыть
              }

            </div>
          </div>
        }
      </div>

    </div>

  </div>


  @if (childrenComments().length) {
    <div class="comments-list" [hidden]="hideChildren">
      @for (comment of childrenComments(); track comment) {
        @if (comment) {
          <app-discussions-comment
            [comment]="comment"
            [inputComments]="inputComments()"
            [commentsCount]="commentsChildrenCount()"
            (onCommentReply)="clickSubmit($event.parentId, $event.level, $event.comment)">

          </app-discussions-comment>
        }

      }
    </div>
  }
}
