<div class="card">
    <div class="background"
        [ngStyle]="{'background-image': 'linear-gradient(rgba(16, 16, 16, 0.6), rgba(16, 16, 16, 0.6)), url(' + cardItem.headerLink + ')'}">
        <div class="header-content">
            <span class="type-badge">{{ getTypeName(cardItem.type) }}</span>
            <a class="like" (click)="toggleLike($event)">
                <img src="assets/icons/icon-like.svg" alt="like" />
            </a>
        </div>
    </div>


    <div class="body">

        <div class="title-container">
            <ng-container *ngIf="cardItem.avatarLink">
                <img [src]="cardItem.avatarLink" alt="avatar" style="    width: 85px;
                height: 85px;
                border-radius: 50%;">
            </ng-container>
            <ng-container *ngIf="!cardItem.avatarLink">
                <img [src]="'assets/avatars/default.png'" alt="avatar">
            </ng-container>
            <p class="title">
                {{cardItem.title | uppercase }}
            </p>
        </div>
        <div class="description text12">
            {{cardItem.summary}}
        </div>

        <div class="vacancies">
            <ng-container *ngIf="cardItem.vacancies.length > 0">
                <p class="text12" style="margin-bottom: 8px; margin-top: 16px; padding-left: 8px;">
                    {{cardItem.vacancies.length}} открытых вакансий:</p>

                <ng-container *ngFor="let item of cardItem.vacancies.slice(0, 2)" (click)="viewJob($event, item.id)">
                    <div class="vacanciesItem" style="margin-bottom: 8px;">
                        <span class="text12" style="font-weight: 600;">{{item?.profession?.name}}</span>
                        <p [ngStyle]="{ 'border-color': getSkillsColor(item.profession?.competenceLevel) }"
                            class="lookingCard-level" *ngIf="item?.profession?.competenceLevel">
                            {{ getSkills(item.profession?.competenceLevel) }}
                        </p>
                    </div>
                </ng-container>

                <div style="width: 100%;
                            display: flex;
                            flex-direction: row-reverse;
                            margin-top: 10px;" *ngIf="cardItem.vacancies.length > 2">
                    <p class="text12" style=" margin: 0;">
                        Еще
                    </p>
                </div>

            </ng-container>


            <ng-container *ngIf="cardItem.vacancies.length == 0">
                <!-- <p class="text12">Нет открытых вакансий.</p> -->
                <span class="text12" style="    font-weight: 600;
                display: flex;
                margin-top: 16px;
                align-items: center;
                height: 100%;">
                    У проекта пока нет открытых вакансий, но вы можете написать админу, и удача вам улыбнется.
                </span>
            </ng-container>
        </div>

        <div class="commands">
            <p class="text12">Команда:</p>
            <ng-container *ngIf="cardItem.team.length > 0">
                <div class="team-container">
                    <div *ngFor="let item of cardItem.team" (click)="viewUser($event, item.user?.nickname)"
                        class="team-member">

                        <ng-container *ngIf="item.user.imageLink">
                            <img [src]="item.user.imageLink" alt="avatar" class="avatar">
                        </ng-container>
                        <ng-container *ngIf="!item.user.imageLink">
                            <img [src]="'assets/avatars/default.png'" alt="avatar" class="avatar">
                        </ng-container>
                    </div>
                </div>
            </ng-container>

        </div>
        <div class="date-container">
            <p class="date">размещено {{ (cardItem.createdAt*1000) | date:'dd.MM.yyyy' }}</p>
        </div>
    </div>
</div>
