
.nominations-container {
  .label {
    margin-top: 24px;
    padding: 10px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: var(--font-color);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    padding: 16px;
    background: var(--background-card);
    flex-direction: column;
    position: relative;
    color: var(--font-color);
  }

  .buttons {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .nominations-header {
    display: flex;
    justify-content: end;
  }

  .nomination-row {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 16px;

    &__left {
      flex: 1;

      p {
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &__right {
      flex: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        font-size: 12px;
      }
    }

    app-commands-item {
      width: 300px;
    }
  }

}

@media (max-width: 800px) {
  .nominations-container {
    padding-bottom: 30px;

    .nomination-row {
      gap: 0;
      align-items: start;
      padding: 0 16px;
      flex-direction: column;
      margin-top: 10px;

      p {
        margin: 5px 0;
      }

      &__right {
        flex-direction: column;
        align-items: start;
      }
    }
  }
}
