<div class="nominations-container">
  <div class="label">Номинации:</div>
  <div class="container">

    @if (data(); as data) {

      @if (!data.length) {
        @if (isAdmin()) {
          <div class="nominations-header">
            <ui-button [type]="'grey'" [size]="'medium'" (click)="openCreateNominationsForm()">Создать</ui-button>
          </div>
        }
        <div class="nomination-row">
          <div class="nomination-row__left">
            <p>Номинаций пока нет</p>
          </div>
          <div class="nomination-row__right">
            @if (isAdmin()) {
              <p>Опишите призовые места и подарки</p>
            }
          </div>
        </div>
      } @else {
        @if (isAdmin()) {
          <div class="nominations-header">
            <ui-button [type]="'grey'" [size]="'medium'" (click)="openCreateNominationsForm()">Редактировать</ui-button>
          </div>
        }

        @for (item of data | sortBy: 'place' : 'asc'; track item.id) {
          <div class="nomination-row">
            <div class="nomination-row__left">
              <p>{{ item.name }}</p>
            </div>
            <div class="nomination-row__right">
              <p>{{ item.description }}</p>
            </div>
          </div>
        }
      }

    }
  </div>

  @if (showWinners) {
    <div class="label">Победители события:</div>
    <div class="container">
      @if (data(); as data) {
        @for (item of data; track item.id) {
          <div class="nomination-row">
            <div class="nomination-row__left">
              <p>{{ item.name }}</p>
            </div>
            <div class="nomination-row__right">
              <p>{{ item.description }}</p>
              <app-commands-item [item]="item.hackathonProjectDto"></app-commands-item>
            </div>
          </div>
        }
      }

    </div>
  }

</div>
