<div class="container">
  <div class="notificationItem">
    @for (day of notifications; track day) {
      <div class="notifications">
        <div class="title">
          <p class="dayOfWeek">{{ day.dayOfWeek }}, </p>
          <p class="dayofmonth">{{ day.day }} {{ day.month }}</p>
        </div>
        @for (notification of day.notifications; track notification) {
          <div >
            <app-notification-item [itemValue]="notification"></app-notification-item>
          </div>
        }
      </div>
    }

  </div>
</div>