<div class=" skeleton-card">
  <div class="skeleton-card__container">
    <p class="skeleton-title"></p>
    <div class="search"></div>
    <div class="chapterCard">
      <p class="skills"></p>
      <div class=" tags">
        <p class="tag"></p>
        <p class="tag"></p>
        <p class="tag"></p>
      </div>
    </div>
    <div class="chapterCard">
      <p class="motivation"></p>
      <div class="motivation-tags">
        <p class="motivation-tag"></p>
        <p class="motivation-tag"></p>
        <p class="motivation-tag"></p>
      </div>
    </div>
    <div class="profile">
      <div class="leftProfile">
        <div class="logo"></div>
        <div class=" main-name">
          <p class="name"></p>
          <p class="name"></p>
        </div>
      </div>
      <div class="rightProfile">
        <p class="date"></p>
        <p class="date"></p>
      </div>
    </div>
  </div>

</div>
