<div class="skeleton-card">
  <div class="skeleton-card__container">
    <div class="skeleton-background"></div>
    <div class="skeleton-body">
      <p class="title-content"></p>
      <p class="title-content tc2"></p>
      <div class="skeleton-address">
        <p class="adrress1"></p>
        <p class="adrress2"></p>
      </div>
      <p class="skeleton-label"></p>
      <div class="skeleton-info">
        <p class="skeleton-info-item"></p>
        <p class="skeleton-info-item"></p>
        <p class="skeleton-info-item"></p>
        <p class="skeleton-info-item"></p>
        <p class="skeleton-info-item"></p>
      </div>

    </div>
  </div>
</div>
