<div class="container">
    <span class="title">
        Управление событием:
    </span>
  <div class="btns">
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; gap: 12px;">
      <a class="btn" [routerLink]="['/hackathon/edit/', paramId]">
        <img src="assets/icons/edit.svg" alt="edit" />
        Редактировать информацию
      </a>
      <app-popup-delete (onDelete)="delete()"></app-popup-delete>

      <app-collecting-applications [hackathon]="hackathon()" (onStop)="updateCollecting(statuses.Closed)" (onStart)="updateCollecting(statuses.Open)"></app-collecting-applications>

      <a class="btn" (click)="openNominationsForm()"><img src="assets/icons/crown.svg" alt="crown" />Назначить победителей</a>

      <a id="listPeople" (click)="openManage()">
        @if (waitingCounts) {
          <span class="tagNewPeople">
            +{{ waitingCounts }} новые заявки
          </span>
        }
        Участники и команды
        <img src="assets/icons/arrow_button.svg" alt="arrow" />
      </a>
    </div>
  </div>
</div>
