@if (data(); as data) {
  <div class="content">
    <div class="closed">
      <a (click)="closeManage()">
        <img src="assets/icons/arrow_button.svg" alt="arrow" />
        вернуться
      </a>
    </div>

    <span class="title">{{data.title}}</span>

    <div class="block-title">
      список участников
    </div>
    <div class="new-commands">
      @if (confirmedMembers.length) {
        @for (item of confirmedMembers; track item) {
          <app-participant-card
            [data]="item"
            [type]="'member'"
            (onRejectMember)="rejectMember($event)"
            (onSetModerator)="setModerator($event)"
            (onRemoveModerator)="removeModerator($event)"
          ></app-participant-card>
        }
      } @else {
        <p>Участников пока нет.</p>
      }

    </div>

    <div class="block-title">
      новые заявки от команд
    </div>
    <div class="new-commands">
      @if (requestCommands.length) {
        @for (item of requestCommands; track item.id) {
          <app-participant-card
            [data]="item"
            [type]="'team'"
            [isAwaiting]="true"
            (onRejectTeam)="rejectProject($event)"
            (onAddTeam)="acceptProject($event)"
          ></app-participant-card>
        }
      } @else {
        <p>Заявок нет.</p>
      }
    </div>

    <div class="block-title">
      новые заявки от участников
    </div>
    <div class="new-commands">
      @if (requestMembers.length) {
        @for (item of requestMembers; track item) {
          <app-participant-card
            [data]="item"
            [type]="'member'"
            [isAwaiting]="true"
            (onRejectMember)="rejectMember($event)"
            (onAddMember)="addMember($event)"
          ></app-participant-card>
        }
      } @else {
        <p>Заявок нет.</p>
      }

    </div>

    <div class="block-title">
      список команд
    </div>
    <div class="new-commands">
      @if (confirmedCommands.length) {
        @for (item of confirmedCommands; track item) {
          <app-participant-card
            [data]="item"
            (onRejectTeam)="rejectProject($event)"
          ></app-participant-card>
        }
      } @else {
        <p>Команд пока нет.</p>
      }
    </div>

  </div>
}
