.content {
    padding-top: 20px;
}

.title {
    padding: 12px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: #101010;
}

.closed {
    padding: 16px 11px;
    font-weight: 600;
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #101010;
}

.block-title {
    width: 100%;
    padding: 10px 10px 8px 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    text-transform: uppercase;
    color: #101010;
    border-bottom: #646464 solid 1px;
  margin-bottom: 24px;
  margin-top: 50px;
}


.new-commands {
    width: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 14px 24px;
}

app-participant-card + app-participant-card {
  border-top: 1px solid rgba(189, 189, 189, 1);
  display: block;
}
