<div class="main">
  <app-one-section [ngClass]="{
    'zIndexDialog': (isVisibleFilter)
  }"></app-one-section>
  <div class="container">
    <app-sortetd-filter [ngClass]="{
      'sticky-filter': settingHeaderService.isSticky,
    }">
    </app-sortetd-filter>

    <div class="card-container">

      <!-- *****************************  project ********************************** -->
      <ng-container>
        <div class="container">
          <h3 #projects>Новые проекты</h3>
          <div class="column">
            <app-home-slider [items]="homeService.projects" [type]="'project'"></app-home-slider>
          </div>
          <div class="slider-footer">
            <a routerLink="/projects"><ui-button [text]="'Все проекты'" [type]="'arrow'"></ui-button></a>
          </div>

          <h3 class="title-blue">Новости проектов</h3>
          <div class="column">
              <app-home-slider [items]="news" [type]="'news'"></app-home-slider>
          </div>
          <div class="slider-footer">
            <a routerLink="/projects"><ui-button [text]="'Все новости'" [type]="'arrow'"></ui-button></a>
          </div>
        </div>
      </ng-container>
      <!-- ***************************** close project ********************************** -->

      <!-- ***************************** vacancy ********************************** -->

      <ng-container>

        <div class="container" #vacancies>
          <h3>Вакансии</h3>
          <div class="column">
              <app-home-slider [items]="homeService.vacancies" [type]="'vacancy'"></app-home-slider>
          </div>
          <div class="slider-footer">
            <a routerLink="/vacancies"><ui-button [text]="'Все вакансии'" [type]="'arrow'"></ui-button></a>
          </div>
        </div>
      </ng-container>

      <!-- ***************************** close vacancy ********************************** -->


      <!-- ***************************** resume ********************************** -->
      <ng-container>
        <div class="container" style="margin-bottom: 115px" #resumes>
          <h3>Резюме</h3>
          <div class="column">
            <app-home-slider [items]="homeService.resumes" [type]="'resume'"></app-home-slider>
          </div>
          <div class="slider-footer">
            <a routerLink="/resumes"><ui-button [text]="'Все резюме'" [type]="'arrow'"></ui-button></a>
          </div>
        </div>
      </ng-container>

      <!-- ***************************** close resume ********************************** -->
    </div>

    <!-- ***************************** hackathon ********************************** -->
<!--    <ng-container>-->
<!--      <div class="container" #hackathons>-->
<!--        <h3>Хакатоны</h3>-->
<!--        <div class="column">-->
<!--          <app-home-slider [items]="homeService.hackathons" [type]="'hackathon'"></app-home-slider>-->
<!--        </div>-->
<!--        <div class="slider-footer">-->
<!--          <a routerLink="/hackathons"><ui-button [text]="'Все хакатоны'" [type]="'arrow'"></ui-button></a>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
    <!-- ***************************** close hackathon ********************************** -->

    <div class="nextPage">
      <a *ngIf="homeService.visibleNextPage" (click)="nextPage()">
        Показать еще
      </a>
    </div>


    <p *ngIf="homeService?.vacancies?.length === 0 && homeService?.typeToggle === 'vacancy' && !homeService.loading"
       class="messageError">
      Нет доступных вакансий по вашему запросу. Попробуйте изменить фильтры или параметры поиска.
    </p>
    <p *ngIf="homeService?.resumes?.length === 0 && homeService?.typeToggle === 'resume'  && !homeService.loading"
       class="messageError">
      Нет доступных резюме по вашему запросу. Попробуйте изменить фильтры или параметры поиска.
    </p>
  </div>
</div>
<app-search-input-phone></app-search-input-phone>
