<div class="container">
  <div class="container-card">
    <div class="container-card-title">
      <p class="container-card-title-text">
        Команда
      </p>
    </div>
    <div class="container-card-users">
      @for (item of itemsList ; track item) {
        <app-participant [itemData]="item"></app-participant>
      }
    </div>

    @if (projectService.currentProjectIsOwner$ | async) {
      <a id="myTeam" (click)="setActiveTab()">Открыть список команды</a>
    }
  </div>

  @if (!((projectService.currentProjectIsOwner$ | async) || isOwner) && !checkUserInTeam(itemsList)) {
    <a class="container-users-btn"
    (click)="getPopUoP()">Хочу в команду</a>
  }

  @if (((projectService.currentProjectIsOwner$ | async) || isOwner) && !checkUserInTeam(itemsList)) {
<div style="    display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 24px;">
      <span class="disable-users-btn">Хочу в команду</span>
      <span class="titleMessage text16">
        Вы уже подали заявку в команду
      </span>
    </div>
  }

  @if (checkUserInTeam(itemsList)) {
<div style="    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 24px;">
      <span class="disable-users-btn">Хочу в команду</span>
      <span class="titleMessage text16">
        Вы в команде
      </span>
    </div>
  }


</div>
