@if (popUpEntryService.visible) {
  <div class="popup-overlay" (click)="closePopUp()">
    <div class="popup" (click)="$event.stopPropagation()">
      <div class="close-button" (click)="closePopUp()">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5 5L18 18M5.0002 18L18 5" stroke="#333334" stroke-opacity="0.3" stroke-width="1.4"
            stroke-linecap="round" />
        </svg>
      </div>
      @if (!popUpEntryService.confirmAuth && !popUpEntryService.accessVerification) {
        <div style="display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;">
          <form [formGroup]="authForm" autocomplete="off" style="width: 100%;">
            <p class="message">
              @if (popUpEntryService.withMessage && popUpEntryService.message) {
                {{ popUpEntryService.message }}
              } @else if (!popUpEntryService.isRegistration) {
                Введите e-mail, чтобы войти
              } @else {
                Введите e-mail, чтобы зарегистрироваться
              }
            </p>
            <div class="input-group" style="    width: 100%;">
              <label for="email" class="text10opac05">Почта:</label>
              <input #formField
                trimOnInput
                type="text"
                id="email"
                formControlName="email"
                placeholder="Введите почту"
                autocomplete="off"
               [ngClass]="{'invalid': authForm.get('email')?.invalid && (authForm.get('email')?.dirty &&
                  isError || authForm.get('email')?.touched && isError)}">
              @if (authForm.get('email')?.invalid && (authForm.get('email')?.dirty || authForm.get('email')?.touched)) {
                <div class="error-message">
                  @if (authForm.get('email')?.errors?.['required']) {
                    <div>почта обязательна для заполнения.</div>
                  }
                </div>
              }
              @if (authForm.get('email')?.errors?.['forbiddenWords']) {
                <div class="error-message">
                  Запрещённые слова:
                  @for (word of authForm.get('email')?.errors?.['forbiddenWords']; track word) {
                    <span>{{ word }},</span>
                  }
                </div>
              }
              @if (errorMessage) {
                <p class="error-message">{{ errorMessage }}</p>
              }
            </div>
            @if (!telegramWidgetLoaded) {
              <a class="popup-login-link"
                 [ngClass]="{'blocked-button' : isLoading}"
                 style="margin-top: 16px; width: 100%;"
                 (click)="authUser()">
                @if (!popUpEntryService.isRegistration) {
                  Войти
                } @else {
                  Зарегистрироваться
                }
              </a>
            }
          </form>
        </div>
      }
      @if (popUpEntryService.confirmAuth && !popUpEntryService.accessVerification) {
        <div style="display: flex; flex-direction: column; gap: 3rem;">
          <div style="text-align: center;">Введите 6-значный код из письма</div>
          <div style="display: flex; justify-content: center; gap: 7px;">
            <input type="number" maxlength="1" class="code" style="width: 40px; text-align: center;"
              (input)="moveFocus($event, 1)" #digit1>
            <input type="number" maxlength="1" class="code" style="width: 40px; text-align: center;"
              (input)="moveFocus($event, 2)" (keydown.backspace)="moveFocus($event, 0, 'delete')" #digit2>
            <input type="number" maxlength="1" class="code" style="width: 40px; text-align: center;"
              (input)="moveFocus($event, 3)" (keydown.backspace)="moveFocus($event, 1, 'delete')" #digit3>
            <input type="number" maxlength="1" class="code" style="width: 40px; text-align: center;"
              (input)="moveFocus($event, 4)" (keydown.backspace)="moveFocus($event, 2, 'delete')" #digit4>
            <input type="number" maxlength="1" class="code" style="width: 40px; text-align: center;"
              (input)="moveFocus($event, 5)" (keydown.backspace)="moveFocus($event, 3, 'delete')" #digit5>
            <input type="number" maxlength="1" class="code" style="width: 40px; text-align: center;"
              (input)="moveFocus($event, 6)" (keydown.backspace)="moveFocus($event, 4, 'delete')" #digit6>
          </div>

          <div style="text-align: center; font-size: 14px; color: #666; margin-top: -2rem;">
            @if (errorMessageConfirm) {
              <p class="error-message error-message-confirm">{{ errorMessageConfirm }}</p>
            }
            Письмо может попасть в папку «Спам» — проверьте её
          </div>
        </div>
      }
    </div>
  </div>
}
