
  .container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background: #fff;
    border-radius: 20px;
    //box-shadow: 1px 2px 4px 0px rgba(40, 40, 40, 0.1);

    ::ng-deep {
      .post-header {
        display: flex;
        justify-content: space-between;

        span {
          color: rgba(189, 189, 189, 1);
          font-size: 12px;
        }

        .post-user {
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;
          cursor: pointer;

          p {
            margin: 2px 0;
            font-weight: 600;
            font-size: 12px;
          }

          span {
            color: rgba(189, 189, 189, 1);
            font-size: 12px;

            &:not(:last-child)::after {
              content: ", ";
            }
          }

          &__avatar {
            img {
              width: 38px;
              height: 38px;
              border-radius: 50%;
            }
          }
        }
      }

      .post-body {
      }

      h3 {
        font-size: 16px;
      }

      .post-footer {
        display: flex;
        gap: 10px
      }

      .post-comments {
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: rgba(243, 243, 243, 1);
        border-radius: 18px;
        padding: 16px;
        margin-top: 26px;

        .post-comment-form {
          padding: 8px;
          border: 1px solid rgba(226, 226, 226, 1);
          border-radius: 12px;
          background-color: white;
          display: flex;
          flex-direction: column;
          align-items: end;
          position: relative;

          ui-button {
            position: absolute;
            bottom: 12px;
            right: 12px;
          }

          textarea {
            width: 100%;
            border: none;

            &:focus {
              border: none;
              outline: none;
            }

            &::placeholder {
              color: rgba(189, 189, 189, 1);
            }
          }
        }

        .comments-list {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .comment {
            display: flex;
            flex-direction: column;
            padding: 24px;
            background: #fff;
            border-radius: 20px;

            .post-footer,
            .post-body {
              //margin-left: 23px;
              //padding-left: 23px;
            }
          }

          .post-comment-form {
            margin-top: 16px;
          }
        }

      }

    }


  }

  @media (max-width: 800px) {
    .container {
      padding: 22px 8px;

      .post-header {
        flex-direction: column-reverse;
        gap: 8px;
      }

      .post-header,
      .post-body,
      .post-footer {
        padding: 0 8px;
      }

      ::ng-deep {
        .post-comments {
          padding: 8px;

          .comments-list {
            .comment {
              padding: 12px;
              font-size: 12px;
            }
          }
        }
      }

    }

  }

