<div class="container">
  <div class="tag-selector">

    <input
      type="text"
      readonly
      (click)="toggleTagBlock(true)"
      (blur)="toggleTagBlock(false)"
      class="tag-input"
      [placeholder]="getSelectedTagsText() || 'Выбрать'"
      [ngModel]="value"
      />

    @if (showTagBlock && selectedTags.length < maxTags) {
      @if (tags.length > 0;) {
        <div class="tag-block" >
          @for (tag of tags; track tag) {
            <div (click)="selectTag(tag)">
              {{ tag.name }}
            </div>
          }
        </div>
      }
    }
  </div>
</div>
