<div class="main">
  @if (settingHeaderService.isheader) {
    <div class="container_header">
      <app-menu-nav [ngClass]="{
        'zIndexDialog': (isVisibleFilter)
      }"></app-menu-nav>
    </div>
  }
  <div class="container content" [@fadeAnimation]="true">
    <router-outlet></router-outlet>
  </div>
  @if (settingHeaderService.isFooter) {
    <div class="footer-container">
      <app-footer></app-footer>
    </div>
  }
</div>


<app-pop-up-entry></app-pop-up-entry>
<app-pop-up-error-create></app-pop-up-error-create>
