<div class="list-container">
  @if (type === 'hackathon') {
    <app-not-found></app-not-found>
  } @else {
    <div class="list-manage">
      <div class="list-manage__sort">
        <img src="assets/icons/sort.svg" alt="Сортировка">
        <span>сортировка:</span>
        <ui-button
          [size]="'small'"
          [type]="sortType === 'desc' ? 'default' : 'border' "
          (click)="sortByButton('desc')">
          Новые
        </ui-button>
        <ui-button
          [size]="'small'"
          [type]="sortType === 'asc' ? 'default' : 'border' "
          (click)="sortByButton('asc')">
          Старые
        </ui-button>
      </div>
    </div>

    <div class="list-cards">
      @for (column of getColumns(); track $index) {
        <div class="list-cards-col">
          @for (item of column; track item.id) {
            <div class="card-item">
              <a [href]="getCardUrl(item.id, type, type)" [class]="type === 'resume' ? 'app-card-resume-link' : 'app-card-vacancy-link'"
                 (click)="onCardClick($event, item.id, type)">

                <ng-container *ngIf="type === 'project'">
                  <app-project class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></app-project>
                </ng-container>

                <ng-container *ngIf="type === 'vacancy'">
                  <app-vacancy [data]="item" class="card" *ngIf="item.visibility != 'BAN'"></app-vacancy>
                </ng-container>

                <ng-container *ngIf="type === 'resume'">
                  <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"> </lib-resume>
                </ng-container>

                <!--              <ng-container *ngIf="type === 'hackathon'">-->
                <!--                <app-hackathon-card class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></app-hackathon-card>-->
                <!--              </ng-container>-->
              </a>
            </div>
          }
        </div>
      }
      <!--    <div class="card-item"  *ngFor="let item of cards | sortBy: sortBy : sortType  let i = index" [ngClass]="getColumnClass(i)">-->
      <!--      <a [href]="getCardUrl(item.id, type, type)" [class]="type === 'resume' ? 'app-card-resume-link' : 'app-card-vacancy-link'"-->
      <!--         (click)="onCardClick($event, item.id, type)">-->

      <!--        <ng-container *ngIf="type === 'project'">-->
      <!--          <app-project class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></app-project>-->
      <!--        </ng-container>-->

      <!--        <ng-container *ngIf="type === 'vacancy'">-->
      <!--          <lib-vacancy class="card"  [cardItem]="item" *ngIf="item.visibility != 'BAN'"></lib-vacancy>-->
      <!--        </ng-container>-->

      <!--        <ng-container *ngIf="type === 'resume'">-->
      <!--          <lib-resume class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'" [visibleSections]="resumeVisibleSections"> </lib-resume>-->
      <!--        </ng-container>-->

      <!--        <ng-container *ngIf="type === 'hackathon'">-->
      <!--          <app-hackathon-card class="card" [cardItem]="item" *ngIf="item.visibility != 'BAN'"></app-hackathon-card>-->
      <!--        </ng-container>-->
      <!--      </a>-->
      <!--    </div>-->
    </div>
  }


</div>

