<div class="list-container">
    <div class="list-manage">
      <div class="list-manage__sort">
        <img src="assets/icons/sort.svg" alt="Сортировка">
        <span>сортировка:</span>
        <ui-button
          [size]="'small'"
          [type]="sortType === 'desc' ? 'default' : 'border' "
          (click)="sortByButton('desc')">
          Новые
        </ui-button>
        <ui-button
          [size]="'small'"
          [type]="sortType === 'asc' ? 'default' : 'border' "
          (click)="sortByButton('asc')">
          Старые
        </ui-button>
      </div>
    </div>

    <div class="list-cards">
      @for (column of getColumns(); track $index) {
        <div class="list-cards-col">
          @for (item of column; track item.id) {
            <div class="card-item">
              <a [routerLink]="getCardUrl(item, type, type)" [class]="type === 'resume' ? 'app-card-resume-link' : 'app-card-vacancy-link'"
                 (click)="onCardClick($event, item, type)" class="card-container">

                @if (type === 'project') {
                  @if (item.visibility != 'BAN') {
                    <app-project class="card" [cardItem]="item"></app-project>
                  }
                }

                @if (type === 'vacancy') {
                  @if (item.visibility != 'BAN') {
                    <app-vacancy [data]="item" class="card"></app-vacancy>
                  }
                }

                @if (type === 'resume') {
                  @if (item.visibility != 'BAN') {
                    <lib-resume class="card" [cardItem]="item" [visibleSections]="resumeVisibleSections"> </lib-resume>
                  }
                }

                @if (type === 'hackathon') {
                  @if (item.visibility != 'BAN') {
                    <app-hackathon-card [cardItem]="item"></app-hackathon-card>
                  }
                }

                @if (type === 'news') {
                  @if (item.visibility != 'BAN') {
                    <app-projects-news [newsItem]="item"></app-projects-news>
                  }
                }
              </a>
            </div>
          }
        </div>
      }
    </div>
</div>

