<div class="background-container">
    <div class="center-image"></div>

    <div class="articles-container">

            <div class="article-images-left">
                <div class="stairs-img-parent">
                    <div><img src="assets/publicleinding/fifth/Group_31.png" alt=""></div>
                </div>
            </div>


            <div class="article-text-right">
                <div class="block-text">
                    <div class="first-title">Создавайте проекты в рамках интересующего Хакатона или конкурса.</div>
                    <div class="three-title">
                        <div>Собирайте команду.</div>
                        <div>Опишите в Ленте этапы разработки или обновления в вашем проекте.</div>
                        <div>Голосуйте за понравившиеся проекты.</div>
                    </div>

                    <div class="yellow_block">
                      Запуск функционала «Хакатоны» 01.03.2026
<!--                        <div class="yellow_block&#45;&#45;link"><a href="https://t.me/ds27108 ">https://t.me/ds27108 </a></div>-->
                    </div>
                </div>

                <div class="block-btn">
                    <div class="fourth-title">
                        <div class="fifth-title-in lg-button"  (click)="goToPage(['/hackathons'], 'hackathon')">
                            <div>ХАКАТОНЫ</div>
                            <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                        </div>
                    </div>
                    <div class="fourth-title lg-button"  (click)="goToPage(['/hackathons'], 'hackathon')">
                        <div class="fifth-title-in">
                            <div>КОНКУРСЫ</div>
                            <img src="assets/publicleinding/three/icon_BACK_white.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>




            <app-lending-footer-button>
                Прокачать скиллы
            </app-lending-footer-button>

    </div>




</div>
