<div class="container">
  <div class="container-nav">
    <p class="subtitle16caps" style="    color: var(--font-color);    width: 100%;">
      Комментарии
    </p>
  </div>

  @if (currentUser) {
    <div class="form">
      <div class="cardContainer-userData-logo">
        @if (currentUser?.imageLink) {
          <img [src]="currentUser.imageLink  | avatar" alt="avatar"
            style="width:52px; height:100%; border-radius: 50%;" class="logoImg">
        }
        @if (!currentUser?.imageLink) {
          <img [src]="'assets/avatars/default.png'" alt="avatar" style="width:52px; height:100%" class="logoImg">
        }
      </div>
      <!-- Текстовое поле -->
      <div class="input-container">
        <textarea #textArea rows="1" placeholder="Введите текст..." class="text14"
          [(ngModel)]="commentText"
          (input)="autoExpand(textArea); checkInput(commentText)">
        </textarea>
        <!-- Кнопки появляются, если есть текст -->
        @if (isTextEntered) {
          <div class="button-container">
            <a class="btnSend" (click)="sendMessage()">Опубликовать</a>
            <a class="btnCancel" (click)="clearText()">Отмена</a>
          </div>
        }
      </div>
    </div>
  }


  <div class="container-items">
    @if (itemsLisat.length) {
      @for (itemCard of itemsLisat; track itemCard) {
        <app-review-card [Item]="itemCard"></app-review-card>
      }
    } @else {
      <p>Еще никто не комментировал</p>
    }

  </div>
</div>
