<div class="container">
  <div class="first-part">
    <div class="information">
      <div class="ProfileChapter">
        <div class="logo">
        </div>
        <div style="display: flex; flex-wrap: wrap; align-content: flex-start; flex-direction: column; justify-content: flex-start; margin-top: 15px;">
          <p class="fullName"></p>
          <p class="personal-details" style=""></p>
          <div class="date_registration">
            <p></p>
          </div>
          <div class="achievements">
            <img src="assets/icons/achievment.png" alt="achievements">
            <img src="assets/icons/achievment.png" alt="achievements">
            <img src="assets/icons/achievment.png" alt="achievements">
          </div>
        </div>
      </div>
      <div class="information-user" style="white-space: pre-wrap;">
        <p class="title"></p>
        <p></p>
        <p style="width: 80%"></p>
        <p style="width: 60%"></p>
      </div>
      <div class="information-user" style="white-space: pre-wrap;">
        <p class="title"></p>
        <div class="tags">
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
        </div>
      </div>
      <div class="edit-button"></div>
    </div>
    <div class="contacts">
      <div class="information-user" style="white-space: pre-wrap;">
        <p class="title"></p>
        <div class="tags">
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
        </div>
      </div>
      <div class="information-user" style="white-space: pre-wrap;">
        <p class="title"></p>
        <div class="tags">
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
          <div class="tag with-competence-level">
            <p class="tagText"></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="second-path">
    <div class="container-cards">
      <div class="container-vacancy">
        <div class="container-vacancy-header"><p></p></div>
        <div class="cards">
          <div class="app-card-vacancy-link"></div>
          <div class="app-card-vacancy-link"></div>
          <div class="app-card-vacancy-link"></div>
          <div class="app-card-vacancy-link"></div>
          <div class="app-card-vacancy-link"></div>
          <div class="app-card-vacancy-link"></div>
          <div class="app-card-vacancy-link"></div>
        </div>
      </div>
    </div>
  </div>
</div>

