<div class="card">
  <div class="background">
    <div class="header-content">
      <span class="type-badge"></span>
      <a class="like">
      </a>
    </div>
  </div>

  <div class="body">
    <div class="title-container">
      <div class="avatar"></div>
      <div class="title-container__title"></div>
    </div>
    <div class="description text12">
    </div>
    <div class="vacancies">
      <div class="vacanciesItem"></div>
      <div class="vacanciesItem"></div>
    </div>

    <div class="commands">
      <p class="text12"></p>
      <div class="team-container">
        <div class="team-member">
          <div class="avatar"></div>
          <div class="avatar"></div>
          <div class="avatar"></div>
        </div>
      </div>
    </div>
    <div class="date-container">
      <p class="date"></p>
    </div>
  </div>
</div>
