.popup {
  height: 100%;
  position: relative;

  .popup-content {
    border: 1px solid #fff25f;
    height: 100%;
    padding: 40px;
    //width: 100%;
    background: #fff25f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .close {
    cursor: pointer;
    font-size: 45px;
    position: absolute;
    top: 2px;
    right: 14px;
  }

  .popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  #title {
    align-items: center;
    font-size: 24px;
    font-weight: 600;
  }
}
