:host {
  width: 100%;

  .skeleton-blocks {
    display: flex;
    flex-direction: column;

    .skeleton-blocks-container {
      display: flex;
      gap: 35px;
      margin-top: 10px;
      margin-bottom: 60px;
    }
  }

  .wrap {
    flex-wrap: wrap;
  }
}
