:host {
  width: 100%;

  .skeleton-blocks {
    display: flex;
    flex-direction: column;

    .skeleton-blocks-container {
      display: flex;
      gap: 29px;
      margin-top: 10px;
      margin-bottom: 60px;
      width: 100%;
    }
  }

  .wrap {
    flex-wrap: wrap;
    padding-right: 40px;

    skeleton-project,
    skeleton-hackathon,
    skeleton-resume,
    skeleton-vacancy {
      width: 31%;
      flex: auto !important;
    }
  }

  @media (max-width: 768px) {
    skeleton-project,
    skeleton-hackathon,
    skeleton-resume,
    skeleton-vacancy {
      width: 100% !important;
      flex: auto !important;
    }

    .skeleton-blocks-container {
      flex-direction: column;
    }
  }
}
