@use '@angular/material' as mat;
@include mat.core();

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$theme: mat.define-theme();

.uteam-select,
.my-datepicker-popup,
.my-datepicker-scope {
  @include mat.datepicker-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.input-theme($theme);
  @include mat.button-theme($theme);

  @include mat.datepicker-base($theme);
  @include mat.form-field-base($theme);
  @include mat.button-base($theme);
}

:root {
  --background: #333334;
  /* #f2f2f2 */
  --background-card: rgba(149, 45, 45, 0.1);
  /* #fff */
  --card-hover: #7870b8;
  /* #a6eb20 */
  --background-card-account: #5a4bb8;
  /* #fff */
  --card-hover-account: rgba(255, 255, 255, 0.1);
  /* #a6eb20 */
  --background-archive: #101010;
  /* #e2e2e2 */
  --card-archive: #434242;
  /* #fff */
  --line-item: rgba(255, 255, 255, 0.1);
  /* rgba(0, 0, 0, 0.1) */
  --font-color: #fff;
  /* #5A4BB8 */
  --font-color-blue: #5A4BB8;
  /* #101010 */
  --logo-text-color: #fff;
  /* #5a4bb8 */
  --logo-background-color: rgba(255, 255, 255, 0.1);
  /* rgba(185, 174, 255, 1)*/
  --font-profession-eng: rgba(255, 255, 255, 0.1);
  --screensaver-color: #a6eb20;
  /* #101010 */
  --screensaver-background: #474748;
  --elements-bg: #806bff;
  /* #a6eb20 */
  --tag-background: rgba(243, 243, 243, 0.1);
  --btnClosedFilter-color: rgba(51, 51, 52, 0.3);
  /* rgba(227, 227, 230, 0.3); */
  --btnClosedFilter-hover: rgba(227, 227, 230, 1);
  --font-Monts: "Montserrat";
  --second-family: "Comfortaa";

  --button-profile-background: #e2e2e2;
  --button-profile-border: 0px solid #806BFF;
  --button-profile-color: #101010;
  --green: #42c54e;

  --subtitle1: 14px;
  --text10: 10px;
  --text12: 12px;
  --text13: 13px;
  --text14: 14px;
  --text16: 16px;

}

/* Angular material Select */

:root {
  @include mat.select-overrides((
    panel-background-color: var(--background-card),
    enabled-trigger-text-color: var(--background-card),
    enabled-arrow-color: rgb(159, 159, 159),
  ));

  .uteam-select {
    @include mat.form-field-overrides((
      outline-color: rgba(226, 226, 226, 1),
      container-shape: 12px,
      focus-outline-color: rgba(185, 174, 255, 1),
      hover-outline-color: rgb(209, 200, 255),
      input-text-color: var(--font-color),
      label-text-color:  var(--font-color),
      hover-label-text-color: rgba(185, 174, 255, 1),
    ));
  }

  .mat-mdc-dialog-surface {
    height: auto;
  }

  .select-panel {
    background-color: var(--background-card);
    border: 1px solid grey;
    border-radius: 8px;
  }

  ::ng-deep .mat-mdc-form-field-focus-indicator,
  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }

  --mdc-dialog-container-shape: 20px;
}

.no-border-input {
  --mdc-outlined-text-field-outline-color: transparent;
  --mdc-filled-text-field-bottom-line-color: transparent;
  --mdc-filled-text-field-focus-bottom-line-color: transparent;
}

.no-border-input .mat-mdc-text-field-wrapper {
  border-bottom: none !important;
}

.my-datepicker-popup {
  background: #fff;
  display: block;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
}



.text13Caps{
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: var(--text13);
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-color);
}

.text10opac05 {
    padding: 0 1.2rem;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: var(--text10);
    line-height: 140%;
    color: #101010;
    opacity: 0.5;
}

.text13Caps {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: var(--text13);
    line-height: 117%;
    text-transform: uppercase;
    color: var(--font-color);
}

.text12 {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: var(--text12);
    line-height: 117%;
    color: var(--font-color);
}

.text14 {
    font-family: var(--font-Monts);
    font-weight: 500;
    font-size: var(--text14);
    line-height: 117%;
    color: var(--font-color);
}

.text10opac05 {
    padding: 0 1.2rem;
    font-family: var(--font-Monts);
    font-weight: 400;
    font-size: var(--text10);
    line-height: 140%;
    color: #101010;
    opacity: 0.5;
}

.text16 {
    font-family: var(--font-Monts);
    font-weight: 600;
    font-size: var(--text16);
    line-height: 117%;
    color: var(--font-color);
}
.subtitle16caps{
    padding: 10px 10px 10px 10px;
    border-bottom: 1.6px solid #bdbdbd;
    font-family: var(--font-Monts);
    font-weight: 700;
    font-size: var(--text16);
    line-height: 112%;
    text-transform: uppercase;
    color: #bdbdbd;
    transition: border-bottom 0.3s ease, color 0.3s ease;

    &.active {
        border-bottom: 1.6px solid var(--font-color);
        color: var(--font-color);
    }
}



body {
    margin: 0;
    background: var(--background);
    box-sizing: border-box;

}

.p-component-overlay {
    z-index: 11 !important;
}

/* Внутри компонента (например, menu-nav.component.css) */
:host ::ng-deep .p-component-overlay {
    z-index: 11 !important;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
div {
    font-family: var(--font-Monts);
}

a {
  text-decoration: none;
}


.work{
    background: var(--tag-background) !important;
}


.chapterCard:has(.work) {
    display: none !important;
}

a,
button,
.lg-button {
  cursor: pointer;
}

.ng-touched.ng-invalid {
  border-color: #ff6a00 !important;
  border-width: 2px !important;
}

.blocked-button {
  opacity: 0.6;
  pointer-events: none;
}

.is-selected {
  border: 4px solid var(--logo-background-color);
}

/*html, body { height: 100%; }*/
/*body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }*/
