<div class="container">
  <form [formGroup]="form">
    <div class="background-container" id="backgroundContainer" (click)="onSelectImage('background')">
      <div class="overlay"></div>
      <div class="content" [class.hidden]="isBackgroundImageSelected">

        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 3V21M3 12H21" stroke="#806BFF" stroke-width="1.4" stroke-linecap="round" />
        </svg>
        <span>
          Добавьте баннер вашей компании/проекта (jpg, png не более 10 мб отношением сторон 16:9 )
        </span>
      </div>
      <input type="file" #fileBackgroundInput id="imageInput" accept="image/*"
             (change)="onImageChange($event, 'background')" style="display: none;" />
    </div>
    <div class="container-elements">
      <div class="container-elements-left">
        <div class="container-elements-left-iconBlock">
          <div class="container-elements-left-iconBlock-img" (click)="onSelectImage('logo')">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"
                 [class.hidden]="isLogoImageSelected">
              <path d="M12 3V21M3 12H21" stroke="#806BFF" stroke-width="1.4" stroke-linecap="round" />
            </svg>
            <input type="file" #fileLogoInput id="imageInput" accept="image/*"
                   (change)="onImageChange($event, 'logo')" style="display: none;" />
          </div>
          <p class="container-elements-left-text">
            Добавьте логотип события (jpg, png не более 10 мб)
          </p>
        </div>
        <div class="container-elements-left-gruopInputs">
          <div class="container-elements-left-gruopInputs-items">
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">
                Название
              </p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите название" formControlName="title" />
              <app-input-error [formElement]="form.get('title')" [inputName]="'Название'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">
                Организатор:
              </p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите организатора" formControlName="organizer" />
              <app-input-error [formElement]="form.get('organizer')" [inputName]="'Организатор'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">
                Фокус:
              </p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите фокус" formControlName="focus" />
              <app-input-error [formElement]="form.get('focus')" [inputName]="'Фокус'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">
                Для кого:
              </p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите для кого событие" formControlName="targetAudience" />
              <app-input-error [formElement]="form.get('targetAudience')" [inputName]="'Для кого'"></app-input-error>
            </div>

            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">
                Условия участия:
              </p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите условия участия" formControlName="participationConditions" />
              <app-input-error [formElement]="form.get('participationConditions')" [inputName]="'Условия участия'"></app-input-error>
            </div>

            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">
                Мотивация для участников (сумма денежного вознаграждения/Опыт/иные варианты):
              </p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите мотивациии" formControlName="prizePool" />
              <app-input-error [formElement]="form.get('participationConditions')" [inputName]="'Мотивация для участников'"></app-input-error>

            </div>

          </div>
        </div>
        <div class="container-elements-left-gruopInputs">
          <p class="container-elements-left-gruopInputs-title">Контактные данные:</p>
          <div class="container-elements-left-gruopInputs-items">
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">Telegram:</p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите telegram" formControlName="telegram"
                     (input)="onInputChange($event)" />
              <app-input-error [formElement]="form.get('telegram')" [inputName]="'telegram'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">Website:</p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите Website" formControlName="customLink" />
              <app-input-error [formElement]="form.get('customLink')" [inputName]="'Website'"></app-input-error>
            </div>

          </div>
        </div>
      </div>
      <div class="container-elements-right">
        <div class="container-elements-left-gruopInputs">
          <div class="container-elements-left-gruopInputs-items">
            <div class="container-elements-left-gruopInputs-items-block my-datepicker-scope">
              <p class="container-elements-left-gruopInputs-items-block-title">Даты проведения:</p>
              <mat-form-field appearance="fill">
                <mat-label>Выберите даты проведения</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="startDate" placeholder="Начало">
                  <input matEndDate formControlName="endDate" placeholder="Конец">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker panelClass="my-datepicker-popup" #picker></mat-date-range-picker>
              </mat-form-field>
              <app-input-error [formElement]="form.get('startDate')" [inputName]="'Дата проведения'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block my-datepicker-scope">
              <p class="container-elements-left-gruopInputs-items-block-title">Начало регистрации:</p>
              <mat-form-field appearance="fill" class="no-border-input">
                <mat-label>Выберите дату открытия регистрации</mat-label>
                <input matInput [matDatepicker]="registrationStartDate" formControlName="registrationStartDate">
                <mat-datepicker-toggle matSuffix [for]="registrationStartDate"></mat-datepicker-toggle>
                <mat-datepicker panelClass="my-datepicker-popup" #registrationStartDate></mat-datepicker>
              </mat-form-field>
              <app-input-error [formElement]="form.get('registrationStartDate')" [inputName]="'Дата открытия регистрации'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block my-datepicker-scope">
              <p class="container-elements-left-gruopInputs-items-block-title">Конец регистрации:</p>
              <mat-form-field appearance="fill">
                <mat-label>Выберите дату закрытия регистрации</mat-label>
                <input matInput [matDatepicker]="registrationDeadline" formControlName="registrationDeadline">
                <mat-datepicker-toggle matSuffix [for]="registrationDeadline"></mat-datepicker-toggle>
                <mat-datepicker panelClass="my-datepicker-popup" #registrationDeadline></mat-datepicker>
              </mat-form-field>
              <app-input-error [formElement]="form.get('registrationDeadline')" [inputName]="'Дата закрытия регистрации'"></app-input-error>
            </div>

            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">Формат:</p>
              <app-type-project formControlName="format"
                                (tagsChanged)="onTagsChanged($event, 'format')"></app-type-project>
              <app-input-error [formElement]="form.get('format')" [inputName]="'Формат'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">Адрес проведения:</p>
              <input class="container-elements-left-gruopInputs-items-block-input" type="text"
                     placeholder="Введите адрес" formControlName="location" />
              <app-input-error [formElement]="form.get('location')" [inputName]="'Формат'"></app-input-error>
            </div>
            <div class="container-elements-left-gruopInputs-items-block">
              <p class="container-elements-left-gruopInputs-items-block-title">
                Описание (не более 300 символов)
              </p>
              <textarea (input)="onTextAreaInput($event)"
                        class="container-elements-left-gruopInputs-items-block-input textarea"
                        placeholder="Поле ввода" formControlName="shortDescription"></textarea>
              <app-input-error [formElement]="form.get('shortDescription')" [inputName]="'Описание'"></app-input-error>
            </div>
          </div>
          <div class="container-elements-left-gruopInputs-items" style="margin-top: 16px;">
            <div class="container-elements-left-gruopInputs-items-block">
              <div class="chapter-content chapter-domain"
                   style="display: flex; align-items: center; justify-content: flex-end">
                <p class="container-elements-left-gruopInputs-items-block-title">uteam.top/</p>
                <input #formField type="text" id="nickname" formControlName="nickname"
                       style="width: 200px;" class="container-elements-left-gruopInputs-items-block-input"
                       placeholder="Адрес страницы"
                       [ngClass]="{'invalid': form.get('nickname')?.hasError('forbiddenWords') && isError}">

              </div>
              @if (form.get('nickname')?.hasError('forbiddenWords')) {
                <div>
                  <p class="error-message">Данный логин занят.</p>
                </div>
              }
              @if (form.get('nickname')?.errors?.['forbiddenWords']) {
                <div class="error-message">
                  Запрещённые слова: @for (word of form.get('nickname')?.errors?.['forbiddenWords']; track word) {
                  <span>{{ word }},</span>
                }
                </div>
              }
            </div>
          </div>

        </div>
        <p class="container-elements-right-confirmationText">
          Нажимая на кнопку «Опубликовать», я даю свое согласие на обработку моих персональных данных, в
          соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и
          для целей, определенных в Согласии на обработку персональных данных
        </p>

        <app-input-error [inputName]="errorMessages"></app-input-error>
        <div class="container-elements-right-btnBlock">
          <button class="container-elements-right-btnBlock-btn"
                  [ngClass]="{'is-loading': isLoading}"
                  (click)="submitForm()">
            Опубликовать
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
