<div class="team_value">
  <div class="person">
    <div class="person-avatar">
      @if (item.user.imageLink) {
        @if (item.user.imageLink.startsWith('https')) {
          <img [src]="item.user.imageLink" class="logoImg">
        } @else {
          <img [src]="'assets/avatars/' + item.user.imageLink + '.png'" class="logoImg">
        }
      }

      @if (!item.user.imageLink) {
        <img [src]="'assets/avatars/default.png'" alt="avatar">
      }
    </div>
    <div class="person-info">
      <span class="name">
        {{item.user.lastName}}<br>{{item.user.firstName}}
      </span>
      <span class="role">{{item.profession}}</span>
    </div>
  </div>

  <div class="action">
    <div class="tag-selector" style="width: 100%;">
      <label for="">Роль</label>
      <app-tag-selector [type]="'PROFESSION'" [placeholderValue]="'Выберете специализацию'"
        (click)="scrollToSelectorProfessions()"
        (tagsChanged)="onTagsChanged($event,'profession')"
        [service]="sortetdFilterService"
        [selectedTag]="selectedProfession"
      ></app-tag-selector>

      <span class="date">назначен {{(item.createdAt*1000) | date: 'dd-MM-yyyy' }}</span>
      @if (showTagBlock && selectedTags.length < 1) {
        @if (tags.length > 0;) {
          <div class="tag-block">
            @for (tag of tags; track tag) {
              <div (click)="selectTag(tag)">
                {{ tag.name }}
              </div>
            }
          </div>
        }
      }
    </div>
    @if (isEdit || (!isEdit && item.profession == 'Владелец')) {
      <a class="edit-button" (click)="updateProfession()">Сохранить</a>
    }
    @if (!isEdit && (getUserNickname() !== item.user.nickname)) {
      <a class="edit-button" (click)="deleteItem()">Удалить</a>
    }
  </div>
</div>
