<div class="search">
  <div class="search-container">
    <div class="conteiner">
      <div class="switch-menu">
        <div class="toggleSwitch-component">
          <div class="toggle-switch">
            <button routerLink="/hackathons" routerLinkActive="active" class="toggle-btn">
              Хакатоны
            </button>
            <button routerLink="/projects" routerLinkActive="active" class="toggle-btn">
              Проекты
            </button>
            <button routerLink="/vacancies" routerLinkActive="active"  class="toggle-btn">
              Вакансии
            </button>
            <button routerLink="/resumes" routerLinkActive="active"  class="toggle-btn">
              Резюме
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
